*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.dHidden{
    display: none;
}
h1{
    margin: 10px;
}
h3{
    font-size: 18px;
    padding: 10px;
    background: rgb(143, 179, 186);
    text-align: left;
}
h3:hover{
    background: rgb(87, 114, 119);
}
p{
    font-size: 0;
    display: none;
    transition: all 3s;
}
#tOne:checked + #pOne,
#tTwo:checked + #pTwo,
#tThree:checked + #pThree{
    font-size: 16px;
    text-align: left;
    padding: 10px 16px;
    background: rgb(221, 227, 234);
    display: block;
    
}

