*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.dHidden{
    display: none;
}
h1{
    margin: 10px;
}
h3{
    font-size: 18px;
    padding: 10px;
    background: rgb(143, 179, 186);
    text-align: left;
}
h3:hover{
    background: rgb(87, 114, 119);
}
p {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    background: rgb(221, 227, 234);
    transition: all 300ms;
}
#tOne:checked + #pOne,
#tTwo:checked + #pTwo,
#tThree:checked + #pThree{
    max-height: 1000px;
    visibility: visible;
    padding: 10px 16px;
}

